.login-page{
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 0 2.5rem;
   /*  background-image: url(https://res.cloudinary.com/dnmjmjdsj/image/upload/v1703005944/image/bg-card_stk9jw.png); */
    background-color: #17152e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    text-align: center;

  }
  
 
  .login-button {
    padding: 5px 15px;
    margin: 10px;
  }


  .form input {
    border: 0;
    padding: .9rem;
    border-radius: .2rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  .form button {
    width: 100%;
    padding: .9rem;
   
    border: none;
    color: white;
    font-weight: .2rem;
  }

  .title-login{
    color: white;
  }
  .login-btn{
    background-color: #211B71;
  }
  .register-btn{
    width: 100%;
    background-color:#F5A624 ;
    border: none;
    color: white;
    font-weight: .2rem;
    margin-top: 1rem;
    padding: .9rem;
  }

  .form-input{
    display: flex;
   
  }
  .auth-input{
    width: 100%;
    display: flex;
    
  }
 
  