#root {
  width: 100%;
  margin: 0 auto;

  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* .musicList li button .cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 64, 255, 0.495),rgba(21, 20, 95, 0.35));
  
}

.musicList li button .cover-1{
  background-image: linear-gradient(to top, rgba(0, 64, 255, 0.495),rgba(214, 198, 25, 0.35));
}

.musicList li button .cover-2{
  background-image: linear-gradient(to top, rgba(0, 64, 255, 0.495),rgba(29, 169, 225, 0.618));
}

.musicList li button .cover-3{
  background-image: linear-gradient(to top, rgba(0, 64, 255, 0.495),rgba(29, 225, 186, 0.503));
} */




.wheel{
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  top: 24%;
  width: 300px;
  height: 300px;
  z-index: 100;

  
}

.wheel img{
  
  object-fit: contain;
  object-position: center;
  
  
}

.wheel-active img {
  animation: rotate-animation 10s infinite linear;
} 




@keyframes rotate-animation {
0% {
  transform: rotate(0deg);
}
50% {
  transform: rotate(180deg);
}
100% {
  transform: rotate(360deg);
}
}

.welcome-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.welcome-page h1{
  font-size: 2.1rem;
  color: #211B71;
}

.welcome-page button{
  background: none;
  border: none;
  padding: 1rem;
  background-color:#211B71 ;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  border-radius: .3rem;
  margin-top: 2rem;
}

.welcome-page p{
  font-size: 1.2rem;
  padding: 1rem;
}



.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 80;
  color: white;
  /* ... other styles like background, font, etc. */
}

/* Spinner Styles */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.unsubscribed-button{
  background-color:#F5A624 ;
}

.unsubscribe-page h1{
  color: #F5A624;
}
.unsubscribe-page button{
  background-color: #F5A624;
}



